---
---
<dialog id="gallery-modal" class="card">
  <h3 id="gm-title"></h3>
  <p id="gm-desc"></p>
  <button class="btn alt" type="button" onclick="this.closest('dialog').close()">關閉</button>
</dialog>
